{% load static account socialaccount %}

    <form class="form form-in" method="post">
        {% csrf_token %}
        
        <div class="data">
            <input type="text" name="username" placeholder="Login">
            <input type="password" name="password" placeholder="Password">
        </div>
        
        <div class="button">
            <button type="submit">Signin</button>
        </div>
        <div class="col-md-8 mx-auto social-container my-2 order-md-1">
            <button class="btn btn-primary mb-2">
                <a href="{% provider_login_url 'google' %}?next=vk.com/">
                    Login with Google
                </a>
            </button>
        </div>
    </form>

