*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

body{
    display: flex;
    height: 100vh;
    background-color: #afefd4a9;
}

.container{
    height: 100vh;   
    width: 100%;
    display: flex;
}

.left-container{
    height: 100vh;
    width: 70%;
    padding: 60px 40px;
}

.right-container{
    height: 100vh;
    width: 30%;
    padding: 60px 40px;
}

h2{
    color: rgb(77, 74, 74);
}

.left-container h2, .left-container h6{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-container h6{
    word-spacing: 10px;
    color: rgb(52, 50, 50);
}

.users{
    height: 90%;
    overflow-y: auto;
    margin-top: 50px;
}

.user{
    margin: 30px;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
} 

.btn2 i{
    font-size: 20px;
    color: #2ab57b;
}
.chat i:hover{
    color: #13dd89;
}

.delete-friend i:hover{
    color: rgb(209, 13, 13);
}

.content{
    display: flex;
    align-items: center;
}

.friend a .content .details , .user a .content .details{
    padding-top: 15px;
    color: black;
    margin-left: 30px;
    font-size: 14px;
}

.friend a .content .details span , .user a .content .details span{
    font-size: 14px;
    font-weight: 700;
}

.friend .buttons , .user .buttons{
    display: flex;
    font-size: 6px;
    color: black;
}

.friend .buttons div , .user .buttons div{
    padding: 0 15px;
}

.btn{
    background-color: #2ab57b;;
    color: white;
}

.btn:hover{
    color: white;
    background-color: #13dd89;
}

img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}


.notifications, .friends, .notification, .friend{
    background-color: rgba(205, 205, 213, 0.266);
    width: 100%;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
}

.notifications{
    height: 30%;
    margin-bottom: 20px;
    padding: 10px;
}

.scroll{
    overflow-y: auto;
    height: 80%;
}

.friends{
    height: 70%;
    margin-top: 20px;
}

.notification{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

/* .fr-request{
    width: 30px;
    height: 10px;
    color: black;
} */

.accept-request, .decline-request, .chat, .delete{
    margin: 5px;
    height: 30px;
}

.request{
    font-size: 11px;
}

a, a:hover{
    color: whitesmoke;
}

.friend{
    display: flex;
    align-items: center;
}

.details span{
    color: black;
    font-size: 14px;
    font-weight: 700;
}