body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
}

.left-side{
    background-color: #afefd4a9;
    flex: 60%;
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-side .header, .right-side .form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-side .form{
    padding: 45px 0;
}

.left-side .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 75px 0;
}

.right-side{
    background-color: #f7f7f7;
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-side .form form .input{
    margin: 30px;
}

#logo{
    font-size: 38px;
    font-weight: 700;
}

button a{
    text-decoration: none;  
    color: #2ab57b;
}

button a:hover{
    text-decoration: none;  
    color: #ffffff;
}

button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: #fff;
    color: #2ab57b;
    border: none;
    border-radius: 15px;
}

.left-side button{
    background-color: #2ab57b !important;
    color: #ffffff !important;
}
  
button:hover {
    background-color:  #13dd89;
    color: #ffffff;
}
  
button:active {
    background-color:  #13dd89;
    box-shadow: inset 3px 3px rgba(55, 54, 54, 0.339);
}

i{
    font-size: 26px;
    padding: 10px;
    color: #2ab57b;
}

#text_icon, #form_icon{
    color: black;
    font-size: 30px;
}

input{
    border-radius: 7px;
    margin: 6px;
    padding: 7px;
    border-radius: 7px;
    margin: 6px;
}